In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Patricio,US,2021-03-04 00:05:56,28.0170,-97.5169,62.60,55,75,13.80
1,1,Dikson,RU,2021-03-04 00:09:55,73.5069,80.5464,-24.48,79,82,11.36
2,2,Iqaluit,CA,2021-03-04 00:10:30,63.7506,-68.5145,-0.40,78,90,16.11
3,3,Qiqihar,CN,2021-03-04 00:12:58,47.3408,123.9672,24.62,91,100,1.63
4,4,Calvia,ES,2021-03-04 00:12:59,39.5657,2.5062,52.00,93,20,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Georgetown,MY,2021-03-04 00:12:59,5.4112,100.3354,80.01,88,20,2.30
6,6,Atuona,PF,2021-03-04 00:12:59,-9.8000,-139.0333,79.81,71,2,9.01
8,8,Kapaa,US,2021-03-04 00:13:00,22.0752,-159.3190,75.20,60,20,19.57
9,9,Tarakan,ID,2021-03-04 00:13:01,3.3000,117.6333,78.13,85,37,7.81
13,13,Cidreira,BR,2021-03-04 00:10:29,-30.1811,-50.2056,75.63,89,100,5.23
23,23,Rikitea,PF,2021-03-04 00:13:06,-23.1203,-134.9692,79.66,79,42,10.49
24,24,San Juan,AR,2021-03-04 00:11:28,-31.5375,-68.5364,81.82,41,5,4.25
38,38,Kavieng,PG,2021-03-04 00:13:11,-2.5744,150.7967,82.76,75,97,10.18
41,41,Podor,MR,2021-03-04 00:13:13,16.6527,-14.9587,86.00,26,0,2.30
42,42,Puerto Ayora,EC,2021-03-04 00:07:41,-0.7393,-90.3518,79.00,92,71,4.52

In [13]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5     Georgetown      MY     80.01   5.4112  100.3354
6         Atuona      PF     79.81  -9.8000 -139.0333
8          Kapaa      US     75.20  22.0752 -159.3190
9        Tarakan      ID     78.13   3.3000  117.6333
13      Cidreira      BR     75.63 -30.1811  -50.2056
23       Rikitea      PF     79.66 -23.1203 -134.9692
24      San Juan      AR     81.82 -31.5375  -68.5364
38       Kavieng      PG     82.76  -2.5744  150.7967
41         Podor      MR     86.00  16.6527  -14.9587
42  Puerto Ayora      EC     79.00  -0.7393  -90.3518

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
6,Atuona,PF,79.81,-9.8000,-139.0333,Villa Enata
8,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
9,Tarakan,ID,78.13,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
13,Cidreira,BR,75.63,-30.1811,-50.2056,Hotel Castelo
23,Rikitea,PF,79.66,-23.1203,-134.9692,Pension Maro'i
24,San Juan,AR,81.82,-31.5375,-68.5364,Hotel Provincial
38,Kavieng,PG,82.76,-2.5744,150.7967,Nusa Island Retreat
41,Podor,MR,86.00,16.6527,-14.9587,La cour du fleuve
42,Puerto Ayora,EC,79.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))